header {
    padding: 10px;
}

.searchDiv {
    background-color: bisque;
    padding: 1em;
}

.currentDiv {
    width: 100%;
    background-color: lightsalmon;
    padding-left: 1em;
}

.forecastDiv {
    width: 100%;
    padding-left: 1em
}

.ftitle {
    padding: 1em;
}

.fiveCard {
    background-color: #00FFFF;
    color: white;
    padding: 0.5em;
    align-content: left;
}

.uvRed {
    background-color: red;
    color: white;
    padding: 0.5em;
    margin-left: 0.5em;
}

.uvGreen {
    background-color: green;
    color: white;
    padding: 0.5em;
    margin-left: 0.5em;
}

.uvOrange {
    background-color: orange;
    color: white;
    padding: 0.5em;
    margin-left: 0.5em;
}